{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <div class="row text-center">
            <div class="col-3 rounded">
                {% include 'admin/user.html.twig' %}
            </div>
            <div class="col-3">
                {% include 'admin/transaction.html.twig' %}
            </div>
            <div class="col-3">
                {% include 'admin/skill.html.twig' %}
            </div>
            <div class="col-3">
                <h1>Skills</h1>
            </div>
        </div>
    </div>

{% endblock %}