<h1>Offers</h1>
{% if offers is defined and offers is not null %}
    <table class="table table-hover table-striped bg-light">
        <thead>
        <th>Title</th>
        <th>By</th>
        <th>Time</th>
        <th>Insurance</th>
        <th>&nbsp;&nbsp;&nbsp;✘</th>
        </thead>
        {% for offer in offers %}
            <tr><td>{{ offer.ticket.title }}</td>
                <td>{{ offer.user.username }}</td>
                <td>{{ offer.time }}</td>
                <td>{% if offer.insurance == 1 %}
                        <p class="text-success">YES</p>
                        {% else %}
                        <p class="text-danger">NO</p>
                {% endif %}</td>
                    <td><a href="{#{{ path('ticket_delete',{'id':skill.id}) }}#}">
                        <button class="float-right btn btn-sm btn-danger">✘</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
