<h1>Skills</h1>
<form name="skill" method="post">
    <div class="form-row">
        <div class="col-10">
            <input id="skill_name" name="skill[name]" required="required" type="text"
                   class="form-control">
        </div>
        <div class="col-2">
            <input type="submit" class="btn btn-success mb-2" value="⊞">
        </div>
    </div>
</form>

{% if skills is defined and skills is not null %}
    <table class="table table-hover table-striped">
        {% for skill in skills %}
            <tr>
                <td>{{ skill.name }}
                    <a href="{{ path('skill_delete',{'id':skill.id}) }}">
                        <button class="float-right btn btn-sm btn-danger">✘</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
