<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Monycks !{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
{% include 'header.html.twig' %}

{#{% if app.user %}
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">NEED HELP !<br>
                <span class="text-muted">Language HTML & CSS.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/placeholder.svg" alt="Generic placeholder image"
                 width="500px">
        </div>
    </div>
    <hr class="featurette-divider">
{% endif %}#}
</div><!-- /.container -->
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
